$bgcolor: hsl(190%, 50px, 60px);
html {
    text-align: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: $bgcolor;
}

.contact {
    text-align: center;
    font-size: 45px;
}

.welcome {
    text-align: center;
}

#form {
    font-size: large;
    margin-top: 80px;
}

button {
    padding: 10px;
    border-radius: 10px;
}